.bodybg{
	-fx-background-image: url("/images/BackGround/2.png");
	-fx-background-size: 100% 100%;
	-fx-font-family: Baoli TC Regular;
}

.tile {
	-fx-background-color: #7EFF5E;
    -fx-effect: innershadow(gaussian, #0F4D00, 5, 0.5, 0, 0);
}

.statuspane {
    -fx-background-color: linear-gradient(to bottom, #7EFF5E 50%, transparent);
    -fx-border-radius: 10 10 0 0;
 	-fx-background-radius: 10 10 0 0;
}

.normal_Font{
	-fx-font-size: 30px;
}