.Normal_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #7EFF5E;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 5, 5, 0, 0);

}

.Normal_button:hover {
    -fx-effect: dropshadow(three-pass-box, #0f4d00, 5, 5, 0, 0);
}

.rollbutton {
	-fx-background-color: #FF6868;
    -fx-border-color: transparent;
    -fx-text-fill: #FFBB64;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-radius: 70 70 70 70;
 	-fx-background-radius: 70 70 70 70;
}

.rollbutton:hover {
	 -fx-text-fill: #F58B00;
	 -fx-background-color: #E00000;
	 -fx-effect: dropshadow(three-pass-box,#A30000, 5, 5, 0, 0);
}