@font-face {
    src: url('/view/resources/Fonts/JejuHallasan-Regular.ttf');
}

.bodybg{
	-fx-background-image: url("/view/Images/BackGround/2.png");
	-fx-background-size: 100% 100%;
	-fx-font-family: 'JejuHallasan';
}

.tile {
	-fx-background-color: #29AD1E;
    -fx-effect: innershadow(gaussian, #0F4D00, 0.5, 0.5, 0, 0);
    -fx-border-width: 2 ; 
    -fx-border-color: black ;
}

.statuspane {
    -fx-background-color: linear-gradient(to bottom, #29AD1E 50%, transparent);
    -fx-border-radius: 10 10 70 70;
 	-fx-background-radius: 10 10 70 70;
}

.normal_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.instruction_Font{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}

.cpu_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.qWizFont{
	-fx-text-fill: #ffd600;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.search_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 1.5, 1.5, 0, 0);
	-fx-font-family: 'JejuHallasan';
}

.board_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 2, 2, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.board_Font_Big{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 2, 2, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.tile_Font{
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);    
}
.player_font{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);    
}
.header_font {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, #0F4D00, 0.5, 0.5, 0, 0);
    -fx-font-family: 'JejuHallasan';
}

.GameName_font {
	-fx-text-fill: linear-gradient(to bottom, #7EFF5E 50%, transparent);
    -fx-font-size: 120px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 7, 7, 0, 0);
}

.scrolPane_bg {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
}
.scroll-pane{
   -fx-background-color: transparent;
}
.scroll-pane .viewport {
       -fx-background-color: transparent;
}
.rounded-frame {
    -fx-background-color: #fdfd96; /* pastel yellow color */
    -fx-background-radius: 10; /* rounded corners */
    -fx-padding: 10; /* padding inside the frame */
    -fx-border-color: black; /* border color */
    -fx-border-radius: 10; /* rounded corners for the border */
    -fx-border-width: 0.5; /* border width */
}

