@font-face {
    src: url('/view/resources/Fonts/JejuHallasan-Regular.ttf');
}

.bodybg{
	-fx-background-image: url("/view/Images/BackGround/popBackground.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';
}
.ErrBodybg{
	-fx-background-image: url("/view/Images/BackGround/errorBackground.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';
}

.qSaved_Bodybg {
	-fx-background-image: url("/view/Images/BackGround/dialogBackground.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';
}

.winner{
	-fx-background-image: url("/view/Images/BackGround/winner.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';	
}

.winner_font{
	-fx-font-size: 50.0px;
	-fx-effect: dropshadow(three-pass-box, black, 5.0, 5.0, 0.0, 0.0);
}
.title {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 35.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}

.statuspane {
    -fx-background-color: linear-gradient(to bottom, #29AD1E 50.0%, transparent);
    -fx-border-radius: 10.0 10.0 70.0 70.0;
 	-fx-background-radius: 10.0 10.0 70.0 70.0;
}

.normal_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 50.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}
.instruction_Font {
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}

.pop_font {
    -fx-font-size: 18pt;
    -fx-font-weight: normal;
    -fx-font-family: 'JejuHallasan';
}

.answer_font {
    -fx-font-size: 18pt;
    -fx-font-weight: normal;
    -fx-font-family: 'JejuHallasan';
}

.header_font {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 80.0;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, #0F4D00, 0.5, 0.5, 0.0, 0.0);
    -fx-font-family: 'JejuHallasan';
}

.radioAnswers {
	-fx-font-size: 18.0px;
}

.scrolPane_bg {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field {
    -fx-control-inner-background: #ffffe0; 
    -fx-pref-height: 200.0;
    -fx-font-size: 20.0px;
}

.finish_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #AFCBFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
    -fx-font-size: 25.0px;
}

.finish_button:hover {
    -fx-effect: dropshadow(three-pass-box, #0F4D00, 4.0, 4.0, 0.0, 0.0);
}

.checkButton {
	-fx-background-color: #747264;
    -fx-border-color: transparent;
    -fx-text-fill: #EEEDEB;
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 60.0 60.0 60.0 60.0;
 	-fx-background-radius: 60.0 60.0 60.0 60.0;
}

.checkButton:hover {
	 -fx-text-fill: #D6ECD3;
	 -fx-background-color: #2D9596;
	 -fx-effect: dropshadow(three-pass-box,#267085, 5.0, 5.0, 0.0, 0.0);
}

.clearButton:hover {
	-fx-effect: dropshadow(three-pass-box,#EFECEC, 5.0, 5.0, 0.0, 0.0);
}

.cancelButton {
	-fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #EA907A;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #3E3232, 3, 3, 0.0, 0.0);
    -fx-font-size: 30pt;
}

.cancelButton:hover {
	 -fx-text-fill: #BD574E;
	 -fx-effect: dropshadow(three-pass-box, black, 3.5, 3.5, 0.0, 0.0);
}

.saveButton {
	-fx-background-color: #387ADF;
    -fx-border-color: transparent;
    -fx-text-fill: #EEEDEB;
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 60.0 60.0 60.0 60.0;
 	-fx-background-radius: 60.0 60.0 60.0 60.0;
}

.saveButton:hover {
	 -fx-text-fill: #FFFFFF;
	 -fx-background-color: #2A26AC;
	 -fx-effect: dropshadow(three-pass-box,#267085, 4.0, 4.0, 0.0, 0.0);
}

.loginMsg {
	-fx-font-size: 20.0pt;
	-fx-font-weight: bold;
}

.login_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #AFCBFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
    -fx-font-size: 30pt;
}

.login_button:hover {
    -fx-effect: dropshadow(three-pass-box, #0F4D00, 4.0, 4.0, 0.0, 0.0);
}

.question_Text {
	-fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 2.0, 2.0, 0.0, 0.0);
}

.secondary_Text {
	-fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.settings_Header {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 50pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #0F4D00, 2.0, 2.0, 0.0, 0.0);
    -fx-font-family: 'JejuHallasan';
}

.ok_button {
	-fx-background-color: #387ADF;
    -fx-border-color: transparent;
    -fx-text-fill: #EEEDEB;
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 60.0 60.0 60.0 60.0;
 	-fx-background-radius: 60.0 60.0 60.0 60.0;
}

.pause {
	-fx-text-fill: #0F4D00;
    -fx-font-size: 100pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #0F4D00, 5.0, 5.0, 0.0, 0.0);
    -fx-font-family: 'JejuHallasan';
}

