@font-face {
    src: url('/view/resources/Fonts/JejuHallasan-Regular.ttf');
}
/* 
.bodybg{
	/*-fx-background-image: url("/view/Images/yellow.jpg"); 
	-fx-background-image: url("/view/Images/BackGround/popBackground.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';
}
*/
.winner{
	-fx-background-image: url("/view/Images/BackGround/winner.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-font-family: 'JejuHallasan';	
}

.winner_font{
	-fx-font-size: 50.0px;
	-fx-effect: dropshadow(three-pass-box, black, 5.0, 5.0, 0.0, 0.0);
}
.title {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 35.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}

.statuspane {
    -fx-background-color: linear-gradient(to bottom, #29AD1E 50.0%, transparent);
    -fx-border-radius: 10.0 10.0 70.0 70.0;
 	-fx-background-radius: 10.0 10.0 70.0 70.0;
}

.normal_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 50.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}
.instruction_Font{
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
	-fx-font-family: 'JejuHallasan';
}

.pop_font {
    -fx-font-size: 20.0px;
}


.header_font {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 80.0;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, #0F4D00, 0.5, 0.5, 0.0, 0.0);
    -fx-font-family: 'JejuHallasan';
}

.radioAnswers {
	-fx-font-size: 18.0px;
}

.scrolPane_bg {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field {
    -fx-control-inner-background: #ffffe0; 
    -fx-pref-height: 200.0;
    -fx-font-size: 20.0px;
}

.finish_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #AFCBFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
    -fx-font-size: 25.0px;
}

.finish_button:hover {
    -fx-effect: dropshadow(three-pass-box, #0F4D00, 4.0, 4.0, 0.0, 0.0);
}

.checkButton {
	-fx-background-color: #747264;
    -fx-border-color: transparent;
    -fx-text-fill: #EEEDEB;
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-border-radius: 60.0 60.0 60.0 60.0;
 	-fx-background-radius: 60.0 60.0 60.0 60.0;
}

.checkButton:hover {
	 -fx-text-fill: #D6ECD3;
	 -fx-background-color: #2D9596;
	 -fx-effect: dropshadow(three-pass-box,#267085, 5.0, 5.0, 0.0, 0.0);
}

.clearButton:hover {
	-fx-effect: dropshadow(three-pass-box,#EFECEC, 5.0, 5.0, 0.0, 0.0);
}

.loginMsg {
	-fx-font-size: 20.0pt;
	-fx-font-weight: bold;
}

.question_Text {
	-fx-font-size: 15.0pt;
}



