@font-face {
    src: url('resources/Fonts/JejuHallasan-Regular.ttf');
}

.bodybg{
	/*-fx-background-image: url("/view/Images/yellow.jpg"); */
	-fx-background-image: url("/view/Images/popBackground.png");
	-fx-background-size: 100% 100%;
	-fx-font-family: 'JejuHallasan';
}

.title {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}

.statuspane {
    -fx-background-color: linear-gradient(to bottom, #29AD1E 50%, transparent);
    -fx-border-radius: 10 10 70 70;
 	-fx-background-radius: 10 10 70 70;
}

.normal_Font{
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}
.instruction_Font{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3, 3, 0, 0);
	-fx-font-family: 'JejuHallasan';
}

.pop_font {
    -fx-font-size: 20px;
}


.header_font {
	-fx-text-fill: #7EFF5E;
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, #0F4D00, 0.5, 0.5, 0, 0);
    -fx-font-family: 'JejuHallasan';
}

.radioAnswers {
	-fx-font-size: 18px;
}

.scrolPane_bg {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field {
    -fx-control-inner-background: #ffffe0; 
    -fx-pref-height: 200.0;
}

.finish_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #AFCBFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 3.0, 3.0, 0.0, 0.0);
    -fx-font-size: 25px;
}

.finish_button:hover {
    -fx-effect: dropshadow(three-pass-box, #0F4D00, 4.0, 4.0, 0.0, 0.0);
}

.checkButton {
	-fx-background-color: #747264;
    -fx-border-color: transparent;
    -fx-text-fill: #EEEDEB;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 60.0 60.0 60.0 60.0;
 	-fx-background-radius: 60.0 60.0 60.0 60.0;
}

.checkButton:hover {
	 -fx-text-fill: #D6ECD3;
	 -fx-background-color: #2D9596;
	 -fx-effect: dropshadow(three-pass-box,#267085, 5.0, 5.0, 0.0, 0.0);
}

.clearButton:hover {
	-fx-effect: dropshadow(three-pass-box,#EFECEC, 5.0, 5.0, 0.0, 0.0);
}



